.feature-block {
  > .wpb_column {
    > .vc_column-inner {
      > .wpb_wrapper {
        @include box-shadow(1px 1px 30px rgba(black, .1));
        padding: 50px 30px;
        border-radius: 15px;

        .vc_icon_element {
          .vc_icon_element-inner {
            .vc_icon_element-icon {
              color: $primary;
            }
          }
        }

      }
    }
  }

  .wpb_text_column {
    margin-bottom: 0;
  }
}